<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% block title %}ExeSymG2{% endblock %}</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon-16x16.png')}}">
    <link rel="manifest" href="{{ asset('css/site.webmanifest')}}">
    <meta name="msapplication-TileColor" content="#da532c">
        {% block stylesheets %}
            <link href="{{ asset('css/output.css')}}" rel="stylesheet">
            <script async defer src="https://buttons.github.io/buttons.js"></script>
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block content %}{% endblock %}
        {% block jsfooter %}<script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>{% endblock %}
    </body>
</html>
